<p2 style="font-size:22pt">
    На данном веб-сайте Вы сможете пройти несколько типов викторин: <br />
    <ul>
        <li>На знание флагов стран мира</li>
        <li>На знание границ стран мира</li>
        <li>На знание правителей стран мира</li>
    </ul>
    <br />
    Чтобы начать викторину, необходимо зарегистрироваться и выполнить вход <br />
    Также Вы можете попать в топ пользователей, если количество верных ответов, а также время выполнения будут лучше, чем у других.
</p2>
<br />
<br />

<hr style="width:70%"/>

<br /> <br />

<p2 style="font-size:22pt">
    Вы можете связаться с разработчиком напрямую:
    <ul>
        <li> <a href="https://vk.com/gevrlegend" target="_blank">Вконтакте</a> </li>
        <li> <a href="https://t.me/popoiri" target="_blank">Телеграм</a> </li>
    </ul>
</p2>